.card_name {
  position: absolute;
  background-color: #ffffff;
  top: 15px;
  left: 125px;
  height: 24px;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.card_image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.3);
}

.card_container {
  position: relative;
}
