.card_container {
  position: relative;
}

.card_name-container {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 15px;
  left: 121px;
}

.card_name {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px;
  height: 24px;
  line-height: 24px;
}

.card_like {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  padding: 0px;
}

.card_like_active {
  color: red;
}

.card_image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.3);
}
