.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  top: 25px;
  left: 20px;
  color: white;
  font-size: 36px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  size: 20px;
  line-height: 24.8px;
}

.weather_image {
  width: 100%;
  height: 80px;
  display: block;
  object-fit: cover;
  object-position: right;
}
