.main {
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  size: 20px;
  line-height: 24.8px;
  top: 120px;
}

.card_section {
  margin-top: 40px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  size: 20px;
  line-height: 24.8px;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 34px;
}
