@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("../../fonts/CabinetGrotesk-Bold.woff") format(woff),
    url("../../fonts/CabinetGrotesk-Bold.woff2") format("woff2");

  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  size: 20px;
  line-height: 24.8px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
