.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 40px 28px 40px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.header__avatar-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.header__toggle-switch {
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: flex-end;
  flex: 1;
  top: 32px;
  right: 40px;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__add-clothes-button {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  border: none;
  background-color: transparent;
  min-width: 116px;
  min-height: 24px;
  padding: 0px;
}

.header__user-logged-in {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.header__sign-up-button {
}

.header__log-in-button {
}
