/* .modal {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  size: 20px;
  line-height: 24.8px;
  position: fixed;
} */

.modal__content {
  position: relative;
}

.modal__content-with-pic {
  border-radius: 16px;
  width: 498px;
  height: 610px;
  padding: 0px;
  max-width: 498px;
  width: 100%;
  max-height: 610px;
  height: 100%;
}

.modal__image {
  width: 498px;
  height: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__description {
  padding: 15px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.modal__card-name {
  margin: 0px;
}

.modal__weather-type {
  /* padding-left: 30px;
  padding-bottom: 15px; */
}

.modal__close-button-white {
  position: absolute;
  padding: 0px;
  height: 16px;
  width: 16px;
  color: #ffffff;
  top: 26px;
  right: 26px;
  border: none;
  background-color: transparent;
}

.modal__form {
  flex-direction: column;
}

.modal__description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__delete-item-button {
  background-color: transparent;
  border: none;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  padding: 15px 32px;
  color: #ff4d00;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}
