.clothes_section {
}

.clothes_section__container {
  display: flex;
  align-items: baseline;
}

.clothes_section__title {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: black;
  background-color: transparent;
  margin-right: 20px;
  width: 88px;
  height: 25px;
}

.clothes_section__button {
  border: none;
  background-color: transparent;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  opacity: 0.6;
}

.clothes_section__cards {
  display: flex;
  flex-wrap: wrap;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: black;
  background-color: transparent;
  row-gap: 20px;
  column-gap: 20px;
  border-radius: 0.3px;
}
